header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .logo {
    padding: 15px 0;
    z-index: 500;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .list {
      display: flex;
      flex-direction: row;
      gap: 30px;
      flex-wrap: wrap;

      @include type-font(18);
      font-weight: 300;
      a {
        color: $color-primary;
        padding: 15px 0;
        &:hover {
          color: $color-secondary;
          border-bottom: 3px solid $color-secondary;
          transition: 0.9ms;
        }
      }
      li {
        padding: 15px 10px;
      }
    }
  }
}

.intro-bg {
  background: url("../img/bg.jpg") no-repeat center;
  width: 100%;
  background-size: cover;
  height: 400px;
  text-align: center;
  padding-top: 100px;
  @include device(smartphone) {
    height: 300px;
  }
  .intro {
    h1 {
      @include type-font(72);
      color: #fff;
      margin-bottom: 70px;
      span {
        color: $color-secondary;
      }
      @include device(smartphone) {
        @include type-font(36);
      }
    }
    a {
      background-color: $color-secondary;
      color: #fff;
      border-radius: 10px;
      padding: 12px 20px;
      @include type-font(24);
      &:hover {
        background: none;
        border: 2px solid $color-secondary;
        color: $color-secondary;
      }
      @include device(smartphone) {
        @include type-font(18);
        padding: 10px 10px;
      }
    }
  }
}

.sobre-bg {
  background: #f8f8f8;
  .sobre {
    padding-top: 60px;
    display: grid;
    grid-template-areas: "texto imagem";
    grid-template-columns: 50% 45%;
    @include device(smartphone) {
      grid-template-areas: "texto";
      grid-template-columns: 100%;
    }
    .text {
      padding-top: 40px;
      max-width: 620px;
      grid-area: texto;
      @include device(tablet) {
        padding: 0;
      }
      @include device(smartphone) {
        padding: 0;
      }
      h2 {
        line-height: 30px;
      }
      p + p {
        padding-top: 36px;
      }
      @include device(smartphone) {
        text-align: center;
      }
    }

    .img-parceria {
      grid-area: imagem;
      display: flex;
      @include device(tablet) {
        align-items: center;
      }
      @include device(smartphone) {
        display: none;
      }
    }
  }
}

.servicos {
  padding-top: 60px;
  text-align: center;
  h2 {
    text-transform: none;
    padding-bottom: 60px;
  }
  .cards-servicos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .card {
      max-width: 360px;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        text-transform: uppercase;
        padding: 10px 0;
      }
    }
  }
}

.diferenciais-bg {
  background: #f8f8f8;
  margin-top: 60px;
  padding-top: 20px;
  .diferenciais {
    display: grid;
    grid-template-areas: "texto-img cards-diferenciais";
    grid-template-columns: 1fr 2fr;
    @include device(tablet) {
      grid-template-areas:
        "texto-img"
        "cards-diferenciais";
      grid-template-columns: 1fr;
    }
    @include device(smartphone) {
      grid-template-areas:
        "texto-img"
        "cards-diferenciais";
      grid-template-columns: 1fr;
    }
    .texto-img {
      grid-area: texto-img;
      @include device(tablet) {
        text-align: center;
      }
      @include device(smartphone) {
        text-align: center;
      }
      img {
        padding-top: 74px;
        @include device(tablet) {
          display: none;
        }
        @include device(smartphone) {
          display: none;
        }
      }
    }

    .cards-diferenciais {
      grid-area: cards-diferenciais;
      display: grid;
      grid-template:
        "card card" 1fr
        "card card" 1fr;

      padding: 20px 0 0 10px;
      @include device(smartphone) {
        grid-template: "card" 1fr;
      }
      .dif-card {
        max-width: 330px;
        display: flex;
        flex-direction: column;
        text-align: center;
        img {
          height: 65px;
          width: 65px;
          padding-bottom: 5px;
          align-self: center;
        }
        h2 {
          @include type-font(24);
        }
      }
    }
  }
}

.contato {
  padding-top: 60px;
  h3 {
    text-align: center;
  }
  h2 {
    text-align: center;
    text-transform: none;
  }
  .contato-elementos {
    display: grid;
    grid-template-areas: "form imgcontato";
    grid-template-columns: 1fr 1.5fr;
    @include device(tablet) {
      grid-template-areas: "form";
      grid-template-columns: 1fr;
    }
    @include device(smartphone) {
      grid-template-areas: "form";
      grid-template-columns: 1fr;
    }
    form {
      grid-area: form;
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      @include device(tablet) {
        padding: 0 100px;
      }

      label {
        @include type-font(18);
        text-transform: uppercase;
        color: $color-primary;
        font-weight: 600;
      }
      input {
        margin-bottom: 28px;
        padding: 10px;
        border: 2px solid #707070;
        outline: none;
      }

      textarea {
        resize: none;
        padding: 10px;
        height: 180px;
        margin-bottom: 20px;
        border: 2px solid #707070;
      }

      button {
        background: $color-primary;
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        height: 40px;
        width: 130px;
        text-transform: uppercase;
        @include type-font(18);
        font-weight: 600;
        text-align: center;
        &:hover {
          background: none;
          color: $color-primary;
          border: 2px solid $color-primary;
        }
      }
    }
    .img-contato {
      grid-area: imgcontato;
      padding: 30px 0 0 40px;
      @include device(tablet) {
        display: none;
      }
      @include device(smartphone) {
        display: none;
      }
    }
  }
}

.footer-bg {
  background: #f8f8f8;
  margin-top: 60px;
  padding: 60px 0 60px 0;
  .footer {
    text-align: center;
    .info-footer {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      text-align: left;
      flex-wrap: wrap;
      gap: 10px;
      @include device(smartphone) {
        flex-direction: column;
        justify-content: center;
      }
      h3 {
        color: $color-primary;
      }

      .redes-sociais {
        ul {
          display: flex;

          li + li {
            padding-left: 10px;
          }
          i {
            font-size: 50px;
            color: $color-primary;
            &:hover {
              color: $color-secondary;
            }
          }
        }
      }
    }
  }
}

.copy-bg {
  background: $color-primary;
  p {
    color: #fff;
    font-weight: 300;
    text-align: center;
    @include device(smartphone) {
      font-size: 1em;
    }
  }
}

// animacao

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// menu-mobile

[data-menu="button"] {
  display: none;
  background: none;
}

@media (max-width: $tablet) {
  header.container {
    max-width: none;
    padding: 0 10px 0 10px;
  }
  [data-menu="button"] {
    display: flex;
    background: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: $color-secondary;
    cursor: pointer;
    align-items: center;
    position: relative;
    z-index: 300;
    border: none;
  }

  [data-menu="button"]::before {
    margin-right: 4px;
    content: "";
    display: inline-block;
    height: 3px;
    width: 30px;
    background: $color-secondary;
    box-shadow: 0 10px $color-secondary, 0 -10px $color-secondary;
    transition: transform 0.3s;
  }

  [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  #menu {
    display: none;
    position: absolute;
    background: #fff;
    border: none;
    width: 200px;
    z-index: 200;
    top: 0;
    padding: 60px 0 10px 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  #menu.active {
    display: block;
    animation: show-down 0.3s forwards;
  }
}

// animacao ao scroll
[data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

[data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s;
}
